<button mat-button color="primary">Hola</button>
<button mat-stroked-button color="accent">Accent</button>
<button mat-icon-button>
  <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<h1 class="">¿Quieres hacer botones como estos?</h1>
<h2 class="">Primer paso</h2>
    <blockquote class="text-center">
        <p> 
            Hay que importar la libreria de botones a nuestro app.module.ts añadiendo al inicio de este lo siguiente:
        </p>
        <p>
            import MatIconModule from @angular/material/icon
        </p>
    </blockquote>
<h2 class="">Segundo paso</h2>
    <blockquote>
        <p>
            Hay que añadir en imports del NgModule el MatIconModule
        </p>
    </blockquote>
<h2 class="">Tercer y último paso</h2>
    <blockquote>
        Añadimos al html lo siguiente:
        <br>
            <p>(apertura)button mat-button color="primary" Hola button(cierre)</p>
            <p>(apertura)button mat-stroked-button color="accent" Accent button(cierre)</p>
            <p>(apertura)button mat-icon-button(cierre)</p>
            <p>(apertura) mat-icon aria-label="Example icon-button with a heart icon">favorite mat-icon(cierre)</p>
    </blockquote>

