<mat-tab-group>
    <mat-tab label="First"> Hola </mat-tab>
    <mat-tab label="Second"> Espero </mat-tab>
    <mat-tab label="Third"> Que disfrutes de este Tutorial </mat-tab>
</mat-tab-group>
<br>
<br>
<h1 class="">¿Quieres hacer una tab como esta?</h1>
<h2 class="">Primer paso</h2>
    <blockquote class="text-center">
        <p> 
            Hay que importar la libreria de botones a nuestro app.module.ts añadiendo al inicio de este lo siguiente:
        </p>
        <p>
            import MatTabsModule from @angular/material/tabs 
        </p>
    </blockquote>
<h2 class="">Segundo paso</h2>
    <blockquote>
        <p>
            Hay que añadir en imports del NgModule el MatTabsModule
        </p>
    </blockquote>
<h2 class="">Tercer y último paso</h2>
    <blockquote>
        Añadimos al html lo siguiente:
        <br>
        <br>
        <p>(abre)mat-tab-group</p>
            <p>(apertura)mat-tab label="First"> Content 1 mat-tab(cierre)</p>
            <p>(apertura)mat-tab label="First"> Content 2 mat-tab(cierre)</p>
            <p>(apertura)mat-tab label="First"> Content 3 mat-tab(cierre)</p>
        <p>(cierre)mat-tab-group</p>
    </blockquote>
  
