<mat-list>
    <h3 mat-subheader> Tarea 1 </h3> 
    <mat-divider></mat-divider>
    <h3 mat-subheader> Tarea 2 </h3>
    <mat-divider></mat-divider>
    <h3 mat-subheader> Tarea 3 </h3>  
</mat-list>

<h1 class="">¿Quieres hacer una lista con separadores como esta?</h1>
<h2 class="">Primer paso</h2>
    <blockquote class="text-center">
        <p> 
            Hay que importar la libreria de botones a nuestro app.module.ts añadiendo al inicio de este lo siguiente:
        </p>
        <p>
            import MatDividerModule from @angular/material/divider
        </p>
    </blockquote>
<h2 class="">Segundo paso</h2>
    <blockquote>
        <p>
            Hay que añadir en imports del NgModule el MatDividerModule
        </p>
    </blockquote>
<h2 class="">Tercer y último paso</h2>
    <blockquote>
        Añadimos al html lo siguiente:
        <br>
            <p>(apertura)h3 mat-subheader> Tarea 1 h3(cierre) </p>
            <p>(apertura)mat-divider> mat-divider(cierre) </p>
            <p>(apertura)h3 mat-subheader> Tarea 2 h3 (cierre)</p>
            <p>(apertura)mat-divider> mat-divider(cierre) </p>
            <p>(apertura)h3 mat-subheader> Tarea 2 h3 (cierre)</p>
    </blockquote>