<h1 class="">¿Qué es Angular Material?</h1>
<blockquote class="text-center">
    <p> 
        Angular Material, como su nombre indica, es una librería de componentes web con un diseño Material design, 
        una guía de estilo creada por Google para Android y para sus aplicaciones. En los últimos tiempos se ha puesto 
        muy de moda el estilo material design, y han salido un montón de librerías y frameworks que lo implementan, entre ellas Angular Material.
        Te recomiendo que le eches un vistazo a la documentación oficial de material design, ya que aunque 
        no uses Angular material, te puede servir para implementar material design en cualquier página, además de inspiración y de 
        base para crear tu propia guía de estilos.
    </p>
</blockquote>
<h1>¿Como instalar Angular Material?</h1>
<blockquote>
    <p>
        npm install --save @angular/material @angular/cdk @angular/animations
    </p>
</blockquote>
<h1>Ejemplos</h1>
<blockquote>
    <p>
        Aquí a la izquierda(en la barra de navegación) dejo ejemplos para que vean tipos de angular material
    </p>
</blockquote>
    



